.box{
    display: flex;
    box-sizing: border-box;
    height: 10px;
    width: 10px;
}

.line{
    display: flex;
    min-height: 5px;
    height: auto;
    flex-direction: row;
}

.container{
    display: flex;
    flex: auto;
    width: 500px;
    height: 500px;
    flex-direction: column;
    border: 1px solid black;

}

.content{   
    display: flex;
    flex-direction: column;
    align-items: center;

}

.touched-by-user{
    background-color: black;
}

.button-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

