.box{
    box-sizing: border-box;
    height: 5px;
    width: 5px;

    
}

.box:hover{
    background-color: black;
}

.touched-by-user{
    background-color: black;
}


.container{
    display: flex;
    flex: auto;
    width: 50vh;
    flex-direction: column;
    border: 1px solid black;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line{
    display: flex;
    flex-direction: row;
    flex: auto;
}

